@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=VT323&display=swap');



//Variables

$darkblue: #0B0C10;
$mediumblue: #1F2833;
$lightblue: #66FCF1;
$grey: #C5C6C7;
$greenish: #45A29E;


$font_header: sans-serif;
$font: sans-serif;
$font_writing: 'Birthstone', cursive;
$font_code: 'VT323', monospace;
